<!DOCTYPE html>
<html>

	<body>
		<div style="font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#333; margin:0; padding:0">
			<b style="font-size:14px">Trabalhe Conosco</b><br>
			Contato enviado pelo formulário de <b>Trabalhe Conosco</b> do site.<br>
			<br>
			<b>Nome: </b>{{nome|convert_encoding('UTF-8','iso-8859-1')}}<br>
			<b>Email: </b>{{email}}<br>
			<b>Telefone Residencial: </b>{{telresidencial}}<br>
			<b>Telefone Celular: </b>{{telcelular}}<br>
			<b>Telefone Comercial: </b>{{telcomercial}}<br>
			<b>Area de Interesse: </b>{{area_trabalho}}<br>
			<b>Mensagem: </b><br>{{mensagem|convert_encoding('UTF-8','iso-8859-1')}}<br>
			<br>
			<br>
			Atenção: Lembre-se de responder esta mensagem o mais rápido possível.<br>
			<hr>
			<i>Mensagem enviada pelo site <a href="{{Config.base_url}}" target="_blank">{{Config.base_url}}</a><br>
			<font color="#CCCCCC">{{user_agent}} | IP:{{user_ip}}
			<br>Data do Envio: {{sent_date}}</font></i>
		</div>
	</body>

</html>